name: Pint

on:
  pull_request:
    branches:
      - '**'

jobs:
  pint:
    name: Pint
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.3"
          extensions: bcmath, curl, gd, mbstring, mysql, openssl, pdo, tokenizer, xml, zip
          tools: composer:v2
          coverage: none

      - name: Download Pint
        run: |
          curl -fsSL -o pint.phar https://github.com/laravel/pint/releases/latest/download/pint.phar
          chmod +x pint.phar

      - name: Pint
        run: php pint.phar --test


      - name: PHPStan
        run: php phpstan.phar analyse . --memory-limit=-1 --error-format=github
