name: Lint

on:
  pull_request:
    branches:
      - '**'

jobs:
  pint:
    name: Pint
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.3"
          extensions: bcmath, curl, gd, mbstring, mysql, openssl, pdo, tokenizer, xml, zip
          tools: composer:v2
          coverage: none

      - name: Download Pint
        run: |
          curl -fsSL -o composer.json https://raw.githubusercontent.com/pelican-dev/panel/refs/heads/main/composer.json
          echo "Fetched composer.json for Pint job"; jq -r '.name, .require | keys[]?' composer.json || true

      - name: Install dependencies
        run: |
          composer install --no-interaction --no-suggest --no-progress --prefer-dist --no-scripts

      - name: Pint
        run: vendor/bin/pint --test
  phpstan:
    name: PHPStan
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        php: [ 8.2, 8.3, 8.4 ]
    steps:
      - name: Code Checkout
        uses: actions/checkout@v4


      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: bcmath, curl, gd, mbstring, mysql, openssl, pdo, tokenizer, xml, zip
          tools: composer:v2
          coverage: none
      - name: Fetch composer.json
        run: |
          curl -fsSL -o composer.json https://raw.githubusercontent.com/pelican-dev/panel/refs/heads/main/composer.json
          echo "Fetched composer.json:"; jq -r '.name, .require | keys[]?' composer.json || true

      - name: Install dependencies
        run: |
          composer install --no-interaction --no-suggest --no-progress --prefer-dist --no-scripts
      - name: PHPStan
        run: vendor/bin/phpstan analyse src --memory-limit=-1 --error-format=github
